::before,
::after,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    /* Black */
    --black-15: hsl(0, 0%, 15%);
    --black-20: hsl(0, 0%, 20%);
    --black-30: hsl(0, 0%, 30%);
    --black-40: hsl(0, 0%, 40%);
    --black-50: hsl(0, 0%, 50%);
    --black-60: hsl(0, 0%, 60%);
    --black-70: hsl(0, 0%, 70%);
    --black-80: hsl(0, 0%, 80%);
    --black-90: hsl(0, 0%, 90%);
    --black-95: hsl(0, 0%, 95%);
    --black-100: hsl(0, 100%, 100%);

    /* Blue */
    --blue-5:hsl(244, 100%, 5%);
    --blue-15:hsl(246, 69%, 15%);
    --blue-31:hsl(256, 10%, 31%);
    --blue-42:hsl(240, 12%, 42%);
    --blue-58:hsl(240, 12%, 58%);
    --blue-68:hsl(240, 12%, 68%);
    --blue-78:hsl(237, 20%, 78%);
    --blue-85:hsl(237, 20%, 85%);
    --blue-95:hsl(237, 20%, 95%);
    --blue-100:hsl(300, 100%, 100%);
    

    /* orange */
    --orange-5: rgb(255, 72, 5);
    --orange-20: rgb(255, 82, 20);
    --orange-66:hsl(33, 89%, 66%);

}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.color-overlay {
    display: none;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: hsla(245, 100%, 5%, 0.70);
}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.bg-container {
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
}

.main-bg {
    margin: 10rem 0;
    width: 100%;
    height: auto;
    display: block;
}

@media screen and (min-width: 800px) {
    .main-bg {
        width: 800px;
    }
}
/* 
======
NAVBAR
====== 
*/
.navbar-container {
    padding: 1rem 0;
}

.navbar-container__navbar-links {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container__brand-name > img {
    width: 60px;
    height: auto;
    display: block;
}

.navbar-container__links {
    position: absolute;
    z-index: 20;
    top: 0;
    right: -100%;
    height: 100%;
    width: 0;
    max-width: 270px;
    overflow: hidden;
    white-space: nowrap;
    
    display: grid;
    align-content: start;
    gap: 1.8rem;
    padding: 2rem 0;
    overflow-y: auto;
    background: hsl(0, 0%, 100%);
    transition: right 300ms linear;
}

.show-navlinks {
    right: 0;
    width: 100%;
}

.navbar-container__close-links-btn {
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 2rem;
}

.navbar-container__close-links-btn > img {
    width: 30px;
}

.navbar-container__link {
    display: flex;
    padding: 0 2rem
}

.active-navlink {
    color: var(--orange-5) !important
}

.navbar-container__link > a {
    color: var(--blue-5);
    letter-spacing: 0.05rem;
    font-size: 1rem;
}

@media screen and (min-width: 600px) {
    .navbar-container {
        padding-top: 3rem;
    }
}

@media screen and (min-width: 800px) {

    .navbar-container__open-links-btn,
    .navbar-container__close-links-btn{
        display: none;
    }

    .color-overlay {
        display: none;
    }

    .navbar-container__links {
        position: static;
        z-index: initial;
        top: initial;
        right: initial;
        height: initial;
        width: initial;
        max-width: initial;
        overflow: initial;
        white-space: initial;
        
        display: flex;
        align-items: center;
        gap: 1.8rem;
        padding: 0;
        overflow-y: hidden;
        background: transparent;
        transition: none;
    }

    .navbar-container__link {
        padding: 0;
    }
}


/* 
============
HERO SECTION
============ */
.hero-main-container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 2rem 0;
    display: grid;
    align-content: start;
    gap: 3rem;
}

.hero-container {
    display: grid;
    align-content: start;
    gap: 2rem;
}

.hero-desktop-image {
    display: none;
}

.hero-mobile-image {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.hero-header {
    color: var(--blue-5);
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-wrap: pretty;
    font-size: clamp(1.8rem, 5vw + 1rem, 3rem);
}

.hero-paragraph-and-button {
    display: grid;
    gap: 2rem
}

.hero-paragraph {
    color: var(--blue-31);
    line-height: 1.5;
    letter-spacing: 0.07rem;
    text-wrap: pretty;
    font-size: clamp(1rem, 1vw + 0.5rem, 1.1rem);
}

.hero-read-more-button {
    justify-self: start;
    color: var(--blue-100);
    letter-spacing: 0.05rem;
    background: var(--orange-20);
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    font-size: 0.9rem;

    display: flex;
    align-items: center;
}

.hero-content-container {
    display: grid;
    align-content: start;
    gap: 2rem;
    padding: 2rem;
    background: var(--blue-5)
}

.hero-content-header {
    color: var(--orange-66)
}

.hero-contents {
    display: grid;
    gap: 2rem;
}

.hero-content {
    display: grid;
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--blue-31);
}

.hero-content:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.hero-content-title {
    color: var(--blue-100);
    letter-spacing: 0.05rem;
}

.hero-content-paragraph {
    color: var(--blue-68);
    letter-spacing: 0.07rem;
    line-height: 1.5;
    max-width: 400px;
}

@media screen and (min-width: 1270px) {
    .hero-main-container {
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        gap: 2rem;
    }

    .hero-container {
        grid-column: 1 / span 2;
        width: initial;
        margin: 0;
    }

    .hero-desktop-image {
        display: block;
        height: auto;
        width: 100%;
    }
    
    .hero-mobile-image {
       display: none;
    }

    .hero-content-container {
        width: initial;
        margin: 0;
        display: grid;
    }

    .hero-header {
        font-size: clamp(1.8rem, 5vw + 1rem, 3.6rem);
    }

    .hero-content-container {
        padding: 1.3rem;
    }
}

/* 
=======
CONTENT
======= */
.content-container {
    width: 90%;
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    padding: 2rem 0;
    align-items: stretch;
}

.content-container-content {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.content-container-image {
    width: 100%;
    height: 100;
    aspect-ratio: 3/2;
    object-fit: cover;
    display: block;
}

.content-container-content-text {
    display: grid;
    gap: 0.5rem;
}

.content-container-title {
    color: var(--blue-68)
}

.content-container-Sub-title {
    color: var(--blue-5);
    letter-spacing: 0.05rem;
    line-height: 1.3;
}

.content-container-paragraph {
    color: var(--blue-31);
    letter-spacing: 0.07rem;
    line-height: 1.5;
    text-wrap: pretty;
}

@media screen and (min-width: 350px) {

    .content-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        align-content: start;
    }
}


@media screen and (min-width: 1110px) {
    .content-container {
        padding: 3rem 0;
    }

    .content-container-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;
        gap: 1.5rem;
        box-shadow: none;
    }

    .content-container-image {
        width: 100%;
        height: auto;
        aspect-ratio: initial;
        object-fit: contain;
        display: block;
    }

    .content-container-content-text {
        padding: 0rem;
        align-content: start;
    }
}

@media screen and (min-width: 1270px) {
    .content-container-content {
        grid-template-columns: 130px 1fr;
    }
}
